# Copia este archivo como ".env" y pon aquí los datos de TU proyecto de Supabase.
# Los encuentras en: Supabase -> Settings -> API

VITE_SUPABASE_URL=https://rpygwlpogpzxboaxwqst.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_1_QRX05nLYfzUDtmULM2Qw_KYPmDXGF
